package ${servicePackage};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import ${modelPackage}.${beanName};
import ${daoPackage}.BaseDao;
import ${daoPackage}.${beanName}Dao;
/**
 * <p>
 * ${remark}service层
 * </p>
 * 
 * @author wangsz
 * @date ${dateTime}
 * @version
 */
@Service
public class ${beanName}Service extends BaseService<${beanName}>{

  	@Autowired
	private ${beanName}Dao dao;
	
	@Override
	protected BaseDao<${beanName}> getDao() {
		return dao;
	}

}