
	#foreach ($item in $types)
	
    
    type $item.typeName struct{
    	#foreach ($f in $item.fields)
    	 #set( $length=$f.name.length() )
         #set( $str=$f.name.substring( 1 ,$length ) )
         #set( $start = $f.name.substring(0,1).toUpperCase() )  
    	$start$str $f.type `json:"$f.name"`
    	#end
    }
    

	#end
	
